@model MvcStokTakipSistemi.Models.Entity.TBLSATIS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<button type="button" data-toggle="modal" data-target="#Modal2">s</button>
<div class="modal" id="Modal2">
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkında</h2>
            </div>
            <div class="modal-body">
                <p>Deneme</p>
            </div>
        </div>
    </div>
</div>

asd
